.imageContainer{
    display: flex;
    gap: 55px;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* margin: 5px 0; */
    /* align-items: stretch; */
    /* margin-left: -45px; */
    border: 5px solid rgb(234,234, 234);

}
.imagedata{
    margin:50px 50px 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
   
}

.menImage{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90");
    background-position: 0px bottom;
    object-fit: contain;
    
    background-repeat: no-repeat;
}

.jeweleryImage{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/30c9dd7e9c28b96a.jpg?q=90");
    background-position: 0px bottom;
    object-fit: contain;
    background-repeat: no-repeat;
}
.ElectronicsImage{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/898b527fdf29b17a.jpg?q=90");
    background-position: 0px bottom;
    object-fit: contain;
    background-repeat: no-repeat;
}
.womenImage{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/964e5530abdf3180.jpg?q=90");
    background-position: 0px bottom;
    object-fit: contain;
    background-repeat: no-repeat;
    /* width: 250px; */
    text-align: center;
}
/* .woname > h2 {
    padding: 80px 50px 35px 0;
    font-weight: 500;

    font-size: 190%;
} */
.rightimage{
   
    /* height: 400px; */
    width: 250px;
    text-align: center;
    
}
.name >h2 {
    justify-content: flex-end;
    padding: 80px 50px 35px 0;
    font-weight: 500;

    font-size: 190%;
}
.name > a {
    padding: 10px;
    border-radius: 5%;
    margin-right: 50px;
    background-color: #2874f0;
    color: white;

    text-decoration: none;
}