.itemcheckout{
    display: grid;
    grid-template-columns: 70% 30% ;
    /* align-self: center; */
    /* align-items: center; */
    margin: 35px 150px;
}
/* button {
display: flex;
align-items: end;
} */
.btndetails {
    margin: 130px;
    background: #fff;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    margin-left: 150px;
}
.btndetails > button {
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    margin: 25px 15px 0px 0px;
    padding: 18px 60px 18px 60px;
}
.left_page{
    display: flex;
    margin-top: 35px;
    border-top: 1.5px solid hwb(0 80% 19%);
    border-left: 1.5px solid hwb(0 80% 19%);
    justify-content: space-evenly;
    background: #fff;
    border-radius: 2px;
    min-height: 47px;
    /* box-shadow: 0 1px 1px 0 rgba(0,0,0,.2); */
}
.titledetails > p {
    margin: 5px 0;
}
.itemquantity {
  margin: 20px 0 0 0;
}
.itemquantity button {
margin: 0 15px;
border: none;
}
.item1 {
    font-weight: 500;
    font-size: 22px;
    border-top: 1px dashed #e0e0e0;
    border-bottom: 1px dashed #e0e0e0;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.right_page {
    background: #fff;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

}
.price_det{
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    padding: 13px 24px;
    font-weight: 500;
    color: #878787;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
}
.discount{
    padding: 0 24px;
}
.price_item{
    display: flex;
justify-content: space-between;
margin: 20px 0;
font-size: 1.1rem;
}
.saverupee {
    padding: 12px 17px;
    font-size: 18px;
    border-radius: 2px;
    color: #2a7e2e;
    font-weight: 500;
}
.addressmodal {
  width: 85%;
  top: 0%;
  left: 10%;
  bottom: 0%;
  /* margin-bottom: 300px; */
  position: fixed;
}
.addressmodal .ant-modal-content {
    position: fixed;
    width: 70vw;
    padding-bottom: 210px;
    border-radius: none;
    object-fit: contain;
  }
  .itemlist {
    display: flex;
    flex-direction: column;
  }
  .emptymain{
    display: block;
    width: 100%;
  }
  .empty2{
    text-align: center;
    padding: 30px 0 36px;
    background: #fff;
  }
  .empty2 > img {
    height: 162px;
  }
  .countinput{
    width: 35px;
    text-align: right;
    border: 2.0px solid black;
    border-radius: 5%;
    margin: 10px;
  }
  .removebtn {
    margin: 30px;
    margin-left: 40px;
    padding: 5px 15px;

    align-items: center;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    border: none;
  }

  .empty3 {
    display: block;
    font-size: 18px;
    margin-top: 24px;
  }
  .empty4{
    display: block;
    font-size: 12px;
    margin-top: 10px;
  }
  .empty5{
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px
  }