.loginPage {
    /*@media(max-width:767px) {*/
        display: flex;
    min-width: 20rem;
    max-width: 40rem;
        /*text-align:center;*/

        /* width: 1000px; */
        /*justify-content: space-between;*/
        /* padding: 10px 10px 10px 10px; */
        margin: -20px 0px -20px -30px;
    /*}*/
    /*@media (max-width:400px)*/
    /*{*/
    /*    text-align:left;*/
    /*}*/
}
.leftLoginPage{
    background-color: #2874f0;
    color: white;
    height: 522px;
    border-radius:5px;
    /* padding: 30px 0px 10px 40px; */
    /* margin: 10px 10px 10px 10px; */
}
.leftLoginPage >h2 {
    padding: 50px 10px 0 30px;
    font-size: 1.55rem;
}
.leftLoginPage > p {
    padding: 10px 0px 0px 30px;
    font-weight: 500;
    min-width: 20px;
}
.leftLoginPage > img {
    display: flex;
    height: 200px;
    object-fit: contain;
     justify-self: flex-start;
    /* align-self: ; */
    /* justify-content: flex-end; */
    margin: 146px 0px 0px 0px;
}
.rightLoginPage{
    margin: 100px 30px ;
    /*padding: 10px -30px;*/
}
.login-form-button{
    margin: 15px;
    /* padding: 5px 10px; */
}





/*.loginPage {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    max-width: 40rem;*/
/*    grid-template-columns: 1fr 1.5fr;*/
/*    !*margin: -20px 0px -20px -30px;*!*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .loginPage {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

/*@media (max-width: 400px) {*/
/*    .loginPage {*/
/*        text-align: left;*/
/*        object-fit: contain;*/
/*    }*/
/*}*/

/*.leftLoginPage {*/
/*    background-color: #2874f0;*/
/*    margin: 0;*/
/*    !*padding: 3rem 2rem;*!*/
/*    color: white;*/
/*    !*border-radius: 5px;*!*/
/*}*/

/*.leftLoginPage > h2 {*/
/*    font-size: 1.55rem;*/
/*    font-weight: 500;*/
/*    margin-bottom: 1rem;*/
/*    !*padding: 50px 10px 0 30px;*!*/
/*}*/

/*.leftLoginPage > p {*/
/*    font-weight: 500;*/
/*    font-size: 1.2rem;*/
/*    !*padding: 10px 0px 0px 30px;*!*/
/*}*/

/*.leftLoginPage > img {*/
/*    height: 200px;*/
/*    object-fit: contain;*/
/*    margin: 146px 0 0 0;*/
/*}*/

/*.rightLoginPage {*/
/*    margin: 100px 30px;*/
/*}*/

/*.login-form-button {*/
/*    margin: 15px;*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .rightLoginPage {*/
/*        margin: 30px 0;*/
/*    }*/

/*    .leftLoginPage > img {*/
/*        margin: 30px 0;*/
/*    }*/
/*}*/
