.logint_in {
    display: flex;
    align-items: center;
    padding: 7px 7px;
}
.loginT{
    width: 200px;
}
.logincus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7px;
}
.logincus > p{
    color: #2874f0;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.logincus > h2 {
    color: black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.logint_in >.MuiSvgIcon-root {
    margin-right: 10px;
    color: #2874f0;
}
.logint_in > img {
    margin-right: 10px;
}
.loginT >hr {
    /* margin-left: 0px; */
    /* margin-right: 2000px; */
    margin-top: 0;
    margin-bottom: 0;
    width: 100.5%;
    height: 0.5px;
    background-color: rgb(233, 233, 233);
    background-color: lightgray;
    border: none;
}
.logint_in:hover{
    background-color: rgb(233, 243, 243);
    cursor: pointer;

}