.headerImage {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
    width:100%;
    margin:0 auto;
    background-color: #c5cea9;
    font-size:0.6rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    float:unset;
    cursor: pointer;
}

.imageheader>img {
    position: relative;
    height: 70px;
    border: 3px solid  blanchedalmond;
    border-radius: 3.5em;
    object-fit: contain;
    flex-wrap: wrap-reverse;
}
.imageheader:hover{
    font-weight: 600;

}
.mobile .electronics{
    /*border-radius: 10px;*/
    cursor: pointer;
}


/*.image_details:hover{*/

/*    transform: scaleX(1.2) scaleY(1.2);*/
/*}*/
/*.image_details>img:hover{*/
/*    transform: scaleX(1.2) scaleY(1.2);*/
/*}*/

.ratings {
        width: 40px;
        padding: 5px;
        /* font-weight: 100; */
        color: #fff;
        border-radius: 2px;
        vertical-align: middle;
        font-size: 10px;
        /* margin: 10px 0; */
        /* background-color: #388e3c;; */
    }
    .ratings >.MuiSvgIcon-root{
        color: white;
        font-weight: 200;
        font-size: 10px;
        margin-bottom: 1px;
    }
.imageheader {
    cursor: pointer;
}

.image_details {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*border: 1px solid #d542c4;*/
    /*border-radius: 2.5%;*/
    /*!*box-shadow:   5px 2px 8px 1px purple;*!*/
    /*!* justify-content: center; *!*/
    /*!* align-items: center; *!*/
    /*margin: 50px 0;*/
    overflow: hidden;
    /* !*transform: translate3d(1007px, 0px, 0px);*!*/
    /* !*transition: step-start 2s ease 0s;*!*/
    /*!* overflow: unset; *!*/
    /*text-decoration: none;*/

    margin:0.7rem 0.4rem;
    width: 13.5rem;
    height:23rem;
    background-color: #fff;
    /*display:flex;*/
    /*flex-direction: column;*/
    border: none;
    border-radius: 7px;
    box-shadow: rgba(63, 23, 23, 0.26) 5px 10px 10px 3px, rgba(0,0,0,0.1) 5px 10px 8px 2px inset;

}


.image_details>img {
    margin:5px;
    padding: 5px;
    width: 13.5rem;
    height:11.1rem;
    flex-wrap: wrap;
    border-top-left-radius: 7px ;
    border-top-right-radius: 7px ;
   }
.cardContent{
    height: 170px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   margin-top: 0.9rem;
    flex-wrap: wrap;
}
.price-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-size{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.str{
    border-radius: 10px;
    color: white;
}
.image_details p{
    font-size: 0.7rem;
    font-weight:300;
    color: black;
    margin: 0;
    /*font-size: 1.06rem;*/
    object-fit: contain;
    /*width: 200px;*/
    /*margin: 5px;*/
    /*font-weight: 600;*/
}
.price-add span{
    font-weight:bolder;
    font-size: large;
}
.price-add button{
    background-color: #2874f0;
    color: #fff;
    padding:0.15rem 1.5rem;
    font-size: 1.0rem;
    border-radius: 3px;
    border:none
}
.price-add{
    justify-items: center;
}

/* .image___list {
    transition: none 0s ease 0s;
    overflow: unset;
    transform: translate3d(-907px, 0px, 0px);
} */